.question_text{
    padding:10px 20px;
    justify-self: center;
    border-radius: 20px;
    align-self: center;
    color:black;
    font-size:30px;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    text-decoration: none;
}

.question_text span {
    background: -webkit-linear-gradient(white, #38495a);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}

.question_bg{
    margin-top:60px;
    height:50%;
    width: 70%;
    display:flex;
    background:white;
    text-align: center;
    padding:10px 20px;
    justify-content: center;
    border-radius: 20px;
    align-content: center;
}

.question{
    display:flex;
    margin-top:20px;
    justify-content:center
}

.choice_field{
    margin-top:10%;
    display:flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
    margin-bottom:8%;
}

.choice_field .choice{
    margin:10px 20px;
}

.alien{
    margin-right:10px;
    margin-top:6%;
    height:170px;
    width:170px;
}

.choice_btn{
    background-color: white;
    border:none;
    color:black;
    font-size:20px;
    padding:10px 20px;
}

.choice_btn:hover{
    background-color:white;
    color: #1b4f72 ;
    box-shadow: 0 0 30px 20px rgba(0,0,0,0.5);
    
}

#previous{
    bottom:40px;
    padding:10px 20px;
    justify-self: center;
    border-radius: 20px;
    align-self: center;
    color:white;
    font-size:20px;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 200;
    letter-spacing: 5px;
    text-decoration: none;
    cursor: pointer;
}


#previous span {
    background: -webkit-linear-gradient(white, #38495a);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}

#answer{
    display:flex;
    justify-content:center;
    z-index: 1;
    margin-top:10%;   
}

@media screen and (min-width:500px){
    .ans_field{
        width:50%;
        height: 250px;
        margin:10px 20px;
        z-index: 1;
        background-color:black;
        text-align: start;
        padding:0%;       
        border-radius: 10px;  
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    .ans_field::-webkit-scrollbar{
        width:5px;
    }
}

@media screen and (max-width:500px){
    .ans_field{
        width:300px;
        height: 250px;
        margin:10px 20px;
        z-index: 1;
        background-color:black;
        text-align: start;
        padding:0%;       
        border-radius: 10px;  
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    .ans_field::-webkit-scrollbar{
        width:2px;
        color:lightcoral;
    }
}

#answer_txt{
    /* margin-left:10px;
    margin-right:10px; */
    font-family: "lato", sans-serif;
    color:lightblue;
    font-size: 15px;
}
.top_bar{
    display:flex;
    flex-direction:row;
    z-index: 1;
    height: 25px;
    width:100%;
    margin:0% 0%;
    background-color:#303030;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-content: center;
    padding-top:7px;
}
#red{
    margin-left: 5px;
    z-index: 2;
    height:10px;
    width:10px;
    background-color:red;
    border-radius: 50%;
}
#yellow{
    margin-left: 5px;
    z-index: 2;
    height:10px;
    width:10px;
    background-color:yellow;
    border-radius: 50%;
}
#green{
    z-index: 2;
    height:10px;
    width:10px;
    background-color:green;
    border-radius: 50%;
}

.ans_area{
    overflow-y: auto;
    scroll-behavior: smooth;

}

.fa-times:hover{
    color:red;
    font-size: 2.5rem;
}

.fa-refresh:hover{
    color:lightblue;
    font-size:2.5rem;
}