{%load static%}
<!DOCTYPE html>
<html lang="en" style="overflow-y: auto">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{%static 'cards/css/stars.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'cards/css/bootstrap.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'cards/css/create.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Create | Sasta BuzzFeed</title>
</head>
<body style="background:transparent;">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="container">
        <div id="title" style="position:relative;margin-top:1%;">Create your own quiz!!!</div>
    </div>
    <div class="container tp">
        <div class="container comp_bar">
            <span class="bar" style="padding-left:10px; border-top-left-radius: 17.5px; border-bottom-left-radius: 17.5px" id="step1"> step 1 </span><span class="bar" id="step2"> step 2 </span><span class="bar" id="step3"> step 3 </span><span class="bar" id="step4"> step 4 </span><span class="bar" id="step5"> step 5 </span><span class="bar" style=" border-top-right-radius: 17.5px; border-bottom-right-radius: 17.5px" id="step6"> step 6 </span>
        </div>
    </div>
    <div class="container form">
        <form id="form_data" method="POST">
            <div class=" container question" id="0">
                {{ title.as_p }}
            </div>
            <div class="container question" id="1">
                <p>Question 1</p>
                {{question1.as_p}}
            </div>
            <div class="container question" id="2">
                <p>Question 2</p>
                {{question2.as_p}}
            </div>
            <div class="container question" id="3">
                <p>Question 3</p>
                {{question3.as_p}}
            </div>
            <div class="container question" id="4">
                <p>Question 4</p>
                {{question4.as_p}}
            </div>
            <div class="container question" id="5">
                <p>Question 5</p>
                {{question5.as_p}}
            </div>
            {%  csrf_token %}
            <button id="sub_btn" class="btn btn-primary submit_btn" type="submit"><a class="submit_btn_txt" id="button_pressed">create</a></button>
            <!-- <input type="submit" href="/home" class="btn btn-primary submit_btn" id="sub_btn" value="create"> -->
        </form>
        <div id="snackbar">Quiz has been successfully created</div> 
        <div class="container next_button">
            <a id="next" style="color: #ffff" >next ></a>
        </div>
        <div class="container" id="successful_msg" style="display:grid;">
            <a class="suc_msg" style="color:white;font-size:2rem;font-family:'lato', sans-serif; font-weight: 300;letter-spacing: 10px;margin-bottom:2%;"> Return back to home page</a>
            <i class="fa fa-chevron-left fa-2x"></i>
        </div>
    </div>
</body>
<script>
//     function created_form() {
//         var snac=document.getElementById('snackbar');
//         snac.className = "show";
//         console.log("create button pressed");
//         // document.getElementsByClassName("bar")[5].style.background="lightgreen";
//         setTimeout(function(){ snac.className = snac.className.replace("show", ""); }, 3000);
//         // document.getElementsByClassName("form")[0].style.display="none";
//         // document.getElementById("successful_msg").style.display="grid";
//         window.location.replace('/tryagain');
//     }
</script>
<script src="{%static 'cards/js/bootstrap.js'%}"></script>
<script src="{%static 'cards/js/create.js'%}"></script>
</html>