{%load static%}
<!DOCTYPE html>
<html lang="en" style="overflow-y:auto" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{%static 'cards/css/stars.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'cards/css/bootstrap.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'cards/css/question.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Quiz | Sasta BuzzFeed</title>
</head>
<body style="background:transparent;">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="container">
        <div id="title" style="position: relative; margin-top:5%">
            {{question_list.title}}
        </div>
        {%for question in question_list.question_set.all%}
            <section id="{{forloop.counter}}">
                <div class="container question">
                    <img src="{% static 'cards/images/alien.png'%}" alt="alien" class="alien">
                    <div class="container question_bg">
                        <a class="question_text">{{question.question}}</a>
                    </div>
                </div>
                <div class="container choice_field">
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn a" id="{{forloop.counter}}a" value="{{question.choice1}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn b" id="{forloop.counter}}b" value="{{question.choice2}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn c" id="{forloop.counter}}c" value="{{question.choice3}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn d" id="{forloop.counter}}d" value="{{question.choice4}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn e" id="{forloop.counter}}e" value="{{question.choice5}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn f" id="{forloop.counter}}f" value="{{question.choice6}}"><br/>
                    </div>
                </div>
            </section>
        {%endfor%}
        <div class="container">
            <a id="previous" style="color: #ffff" >< previous question</a>
        </div>
        <div class="container-fluid" id="answer">
            <img src="{% static 'cards/images/spaceship.png'%}" alt="" height="165px" width="105px" style="z-index: 1;">
            <div class="container ans_field">
                <div class="container top_bar">
                    <span id="green"></span><span id="yellow"></span><span id="red"></span>
                </div>
                <div class="container ans_area">
                    <a style="color:lightgreen">buzzfeed@home</a><a style="color:aqua">:~</a><a style="color:lightblue">$</a> <span id="answer_txt">{{question_list.sel_answer}} Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi ab excepturi, omnis iure rerum vero nostrum maiores pariatur modi laudantium.</span>
                </div>
            </div>
        </div>
        <div class="container" id="answer" style="display: flex;justify-content:center;margin-top:5%">
        <a href="/home/" class="cross_btn" style="color:white;margin-right:40px;"><i class="fa fa-times fa-2x cross_btn" ></i></a><a style="color:white;margin-left:40px;" id="retry" href=""><i class="fa fa-refresh fa-2x"></i></a>
        </div>
    </div>
</body>
<script src="{%static 'cards/js/bootstrap.js'%}"></script>
<script src="{%static 'cards/js/question.js'%}"></script>
</html>

