{%load static%}
<!DOCTYPE html>
<html lang="en" style="overflow-y:auto" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{%static 'cards/css/stars.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'cards/css/bootstrap.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'cards/css/question.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Quiz | Sasta BuzzFeed</title>
</head>
<body style="background:transparent;">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="container">
        <div id="title" style="position: relative; margin-top:5%">
            {{question_list.title}}
        </div>
        {%for question in question_list.question_set.all%}
            <section id="{{forloop.counter}}">
                <div class="container question">
                    <img src="{% static 'cards/images/alien.png'%}" alt="alien" class="alien">
                    <div class="container question_bg">
                        <a class="question_text">{{question.question}}</a>
                    </div>
                </div>
                <div class="container choice_field">
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn a" id="{{forloop.counter}}a" value="{{question.choice1}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn b" id="{forloop.counter}}b" value="{{question.choice2}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn c" id="{forloop.counter}}c" value="{{question.choice3}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn d" id="{forloop.counter}}d" value="{{question.choice4}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn e" id="{forloop.counter}}e" value="{{question.choice5}}"><br/>
                    </div>
                    <div class="choice">
                        <input type="button" class="btn btn-primary choice_btn f" id="{forloop.counter}}f" value="{{question.choice6}}"><br/>
                    </div>
                </div>
            </section>
        {%endfor%}
        <div class="container">
            <a id="previous" style="color: #ffff" >< previous question</a>
        </div>
        <div class="container" id="answer">
            <div class="image" >
                <img src="{% static 'cards/images/spaceship.png'%}" alt="" height="100px" width="70px">
            </div>
        </div>
    </div>
</body>
<script src="{%static 'cards/js/bootstrap.js'%}"></script>
<script src="{%static 'cards/js/question.js'%}"></script>
</html>